.article-cover {
    @include animation;
    @extend %grid__item;
    @extend %phone--one-whole;
    @extend %vpad--one-half;
    @extend %book--one-third;
    @extend %desk--one-quarter;
	position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

	.article-cover__image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		.article-cover__image__icon-container {
			position: absolute;
			top: $remspace;
			left: $remspace;

			[class*="icon"] {
				background-color: $white;
				padding: 7px;
				@include border-radius;
			}
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 100;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: none;
			@include animation;
		}

		img {
			@include border-radius;
			width: 100%;
		}

		.article-cover__image__info {
			display: block;
			@include animation;
			opacity: 0;
			position: absolute;
			text-align: center;
			z-index: 100;
			top: 40%; left: 0; bottom: 0; right: 0;
			font-size: 1.05em;
			color: $white;
			fill: $white;
			nobr {
				svg {
					@include animation;
					vertical-align: middle;
				}
				span {
					margin-left: .5em;
				}
			}
			nobr:first-child {
				margin-right: $remspace;
			}
		}

		&:hover {
			.article-cover__image__info {
				opacity: 1;
				top: 44%;
			}
		}
	}

	.article-cover__text {
		display: block;
		padding: $remspace-05 $remspace-05 $remspace-05 0;
		font-weight: normal;

		a.article-cover__text__tag {
			@include animation;
			display: inline-block;
			margin: $remspace-025 0;
			padding: .2em .6em .1em;
			font-size: .9rem;
			@include border-radius;
			color: $darkgrey;
			background-color: $grey-lighten;
		}

		.article-cover__text__title {
			display: block;
			@include animation;
			h4 {
				padding: 0.2em 0 0 0.1em;
			}
		}

		.article-cover__text__description {
			padding-left: 0.12em;
			@include animation;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}



