mixin article-cover(cover,category,title,descr,link,video)
    .article-cover
        .article-cover__wrapper
            a.article-cover__image(href='#{link}')
                img(srcset=cover)
                if video
                    i.article-cover__image__icon-container: svg.icon--medium: use(xlink:href='#icon_video')
                span.article-cover__image__info
                    nobr.article-cover__content__image__info__views
                        svg.icon--medium: use(xlink:href='#icon_views')
                        span 4421
                    nobr.article-cover__image__info__comments
                        svg.icon--medium: use(xlink:href='#icon_comments')
                        span 2

            span.article-cover__text
                +button('xsmall--grey article-cover__text__tag', link, category)
                if title
                    a.article-cover__text__title(href='#{link}'): h4=title
                else
                    h4.article-cover__text__title='Заголовок с названием статьи'
                if descr
                    p.article-cover__text__description=descr
                else
                    p.article-cover__text__description='Текст с описанием статьи'