.widget-wrapper {
	box-sizing: border-box;
	padding: $remspace-05;
	display: inline-block;

	a {
		display: block;
	}



	.widget {
		display: block;
		box-sizing: border-box;
		border: 2px solid $grey-lighten;
		@include animation;
		@include border-radius;
		padding: $remspace;
		letter-spacing: .03em;
	}

	//&.full {
	//	width: 100% !important;
	//}
}

