mixin widget(mode)
    if mode
        .widget-wrapper(class=mode)
            a(href='#')
                span.widget
                    block
    else
        .widget-wrapper
            a(href='#')
                span.widget
                    block