.placeholder {
	@include animation;
	@extend %grid__item;

	.placeholder__container {
		@include animation;
		@include border-radius;
		background-color: $grey-lighten;

		&:hover {
			cursor: pointer;
			background-color: rgba($grey-lighten,.5);
		}
	}
}