include ../2.vendors/**/*.jade
include ../4.components/**/*.jade
include ../5.structures/**/*.jade
extends ../1.foundation/main
block title
    title Здоровье  |  MedAboutMe.ru — Технологии здорового образа жизни
block content
    .health
        +header('/')
        main
            +services
            +articles
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ed6/387_252_2/040815_11.jpg',
                'Альтернативная медицина',
                'Рожистое воспаление кожи на ногах в преклонном возрасте',
                'Рожистое воспаление на коже у стариков появляется часто. Из-за слабого иммунитета и множества хронических недугов рожа лечится сложно.',
                '/',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dee/387_252_2/040815_27.jpg',
                'Советы врача',
                'Туберкулезный плеврит',
                'Плеврит туберкулезного типа является опасным недугом, лечить такую патологию важно вовремя.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/343/387_252_2/040815_7.jpg',
                'Альтернативная медицина',
                'Народная медицина против туберкулеза кожи',
                'Туберкулез кожи передается воздушно-капельным путем или через поврежденные участки кожного покрова. ',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/079/387_252_2/040815_14.jpg',
                'Советы врача',
                'Суточная потребность и источники кальция',
                'Кальций играет большую роль в организме человека. Отчего возникает его дефицит и как он проявляется клинически? Какие препараты помогут предотвратить дефицит кальция?',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/58c/387_252_2/040815_12.jpg',
                'Альтернативная медицина',
                'Лечение туберкулеза глаз',
                'Туберкулезные поражения глаз характеризуются неприятными симптомами и возможными осложнениями. Лечить заболевание важно вовремя.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/3ef/387_252_2/040815_35.jpg',
                'Альтернативная медицина',
                'Лечебные компрессы от рожи',
                'Рожа — это часто встречающееся инфекционное заболевание, которое возникает на фоне стрептококковой инфекции.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/330/387_252_2/050815_34.jpg',
                'Альтернативная медицина',
                'Домашнее лечение внутреннего фурункула',
                'Удалить фурункул внутреннего типа легко можно нетрадиционными способами. Главное вовремя проконсультироваться с врачом и не превышать допустимые дозы лекарств.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dcd/387_252_2/040815_30.jpg',
                'Советы врача',
                'Кандидоз полости рта: лечение',
                'Обратитесь за советом к врачу при первых признаках грибкового поражения полости рта, чтобы получить индивидуальную комплексную программу терапии.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/32a/387_252_2/040815_29.jpg',
                'Альтернативная медицина',
                'Сколько надо пить воды в день?',
                'Чистая вода является одним из основных компонентов, обеспечивающих здоровье и жизнь человека. Многие «сидящие» на диете практически обожествляют этот элемент и пьют воду в огромных количествах.. ',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/c99/387_252_2/030815_20.jpg',
                'Альтернативная медицина',
                'Крыжовник: ценность и противопоказания',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/13c/387_252_2/030815_18.jpg',
                'Советы врача',
                'Крапивница от солнца',
                'Крапивница относится к аллергическим реакциям. Иногда такая патология может быть симптомом заболевания внутренних органов.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dad/387_252_2/030815_10.jpg',
                'Советы врача',
                'Малина: полезные свойства',
                'В июле поспела одна из самых любимых ягод всех россиян. Как заявляет беспристрастная статистика, малина в хит-параде сезонных фруктов обосновалась на третьем месте.',
                '/',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ed6/387_252_2/040815_11.jpg',
                'Советы врача',
                'Рожистое воспаление кожи на ногах в преклонном возрасте',
                'Рожистое воспаление на коже у стариков появляется часто. Из-за слабого иммунитета и множества хронических недугов рожа лечится сложно.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/adf/387_252_2/280715_31.jpg',
                'Советы врача',
                'Экзема на локтях',
                'Кожные проблемы на локтях часто поражают детей и взрослых. Как лечить такую болезнь? Каковы симптомы неприятного недуга?',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/d0e/387_252_2/060815_16.jpg',
                'Советы врача',
                'Рецепты лечебного питания при панкреатите',
                'При хроническом панкреатите пациентам нужно соблюдать специальную диету и строго выполнять рекомендации лечащего врача.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/35d/387_252_2/060815_31.jpg',
                'Альтернативная медицина',
                '5 признаков мигрени',
                'Классическая мигрень может характеризоваться особенными симптомами. Существуют 5 основных признаков недуга.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/343/387_252_2/040815_7.jpg',
                'Советы врача',
                'Народная медицина против туберкулеза кожи',
                'Туберкулез кожи передается воздушно-капельным путем или через поврежденные участки кожного покрова.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/079/387_252_2/040815_14.jpg',
                'Советы врача',
                'Суточная потребность и источники кальция',
                'Кальций играет большую роль в организме человека. Отчего возникает его дефицит и как он проявляется клинически? Какие препараты помогут предотвратить дефицит кальция?',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/58c/387_252_2/040815_12.jpg',
                'Альтернативная медицина',
                'Лечение туберкулеза глаз',
                'Туберкулезные поражения глаз характеризуются неприятными симптомами и возможными осложнениями. Лечить заболевание важно вовремя.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/3ef/387_252_2/040815_35.jpg',
                'Советы врача',
                'Лечебные компрессы от рожи',
                'Рожа — это часто встречающееся инфекционное заболевание, которое возникает на фоне стрептококковой инфекции.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/330/387_252_2/050815_34.jpg',
                'Советы врача',
                'Домашнее лечение внутреннего фурункула',
                'Удалить фурункул внутреннего типа легко можно нетрадиционными способами. Главное вовремя проконсультироваться с врачом и не превышать допустимые дозы лекарств.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dcd/387_252_2/040815_30.jpg',
                'Советы врача',
                'Кандидоз полости рта: лечение',
                'Обратитесь за советом к врачу при первых признаках грибкового поражения полости рта, чтобы получить индивидуальную комплексную программу терапии.',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/32a/387_252_2/040815_29.jpg',
                'Советы врача',
                'Сколько надо пить воды в день?',
                'Чистая вода является одним из основных компонентов, обеспечивающих здоровье и жизнь человека. Многие «сидящие» на диете практически обожествляют этот элемент и пьют воду в огромных количествах.. ',
                '/'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/c99/387_252_2/030815_20.jpg',
                'Советы врача',
                'Крыжовник: ценность и противопоказания',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/'
                )
        +footer