include ../2.vendors/**/*.jade
include ../4.components/**/*.jade
include ../5.structures/**/*.jade
extends ../1.foundation/main
block title
    title Образ жизни  |  MedAboutMe.ru — Технологии здорового образа жизни
block content
    .lifestyle
        +header('/lifestyle.html')
        main
            +articles
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dca/387_252_2/010915_49.jpg',
                'Фитнес',
                'Какие виды силы бывают?',
                'Разные силовые упражнения развивают определенные виды мышечной силы. Существует семь типов сил. Рассмотрим, чем они отличаются и как их натренировать?',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/2a1/387_252_2/010915_46.jpg',
                'Профилактика',
                'Вред и польза кофе',
                'Многие не могут представить хотя бы один свой день без бодрящего напитка, не задумываясь о том, что заключает в себе, источающая волнующий аромат, чашка',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ed1/387_252_2/010915_47.jpg',
                'Питание и диеты',
                'Замороженные заготовки для смузи - рецепт быстрого приготовления',
                'Современное правильное питание сложно представить без вкусных и полезных смузи. Сэкономить время на их приготовление помогут замороженные заготовки.',
                '/lifestyle.html',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/9f9/387_252_2/daywithout_19.jpg',
                '#ДеньБез',
                'День без кофе (#деньбезкофе)',
                'Кофеин - один из самых популярных легальных наркотиков современности. В этой статье мы расскажем как избавиться от кофеиновой зависимости раз и навсегда.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/c25/387_252_2/010915_42.jpg',
                'Красота',
                'Процедуры талассотерапии – новое слово в косметологии',
                'Женщины просто в восторге от различных обертываний и масок для кожи. Одним из направлений, в сфере таких услуг, являеться талассотерапия.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/294/387_252_2/010915_40.jpg',
                'Профилактика',
                'Ежедневные опасности для астматиков',
                'Существует 7 опасностей для астматиков, которые несложно встретить в повседневной жизни. Каких провоцирующих факторов стоит избегать?',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/277/387_252_2/010915_38.jpg',
                'Фитнес',
                'Плюсы и минусы бега на беговых дорожках',
                'Существует немало стереотипов, связанных с таким видом фитнеса, как занятия на беговой дорожке. Объективная подборка плюсов и минусов поможет лучше разобраться.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/3f4/387_252_2/daywithout_18.jpg',
                '#ДеньБез',
                'День без ревности (#деньбезревности)',
                'Очень часто чувство ревности становится причиной разрыва отношений.  Ревновать - не значит любить',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/495/387_252_2/010915_35.jpg',
                'Психология и отношения',
                'Неравный брак: плюсы и минусы',
                'Союз мужчины и женщины может называться равным довольно условно, так как люди все разные, они редко могут одинаково сильно любить и быть похожими во всех.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ad9/387_252_2/010915_34.jpg',
                'Питание и диеты',
                'Крыжовник: ценность и противопоказания',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/6eb/387_252_2/010915_32.jpg',
                'Питание и диеты',
                'Крапивница от солнца',
                'Крапивница относится к аллергическим реакциям. Иногда такая патология может быть симптомом заболевания внутренних органов.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/aa1/387_252_2/010915_28.jpg',
                'Питание и диеты',
                'Малина: полезные свойства',
                'В июле поспела одна из самых любимых ягод всех россиян. Как заявляет беспристрастная статистика, малина в хит-параде сезонных фруктов обосновалась на третьем месте.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/a68/387_252_2/daywithout_17.jpg',
                'Питание и диеты',
                'Рожистое воспаление кожи на ногах в преклонном возрасте',
                'Рожистое воспаление на коже у стариков появляется часто. Из-за слабого иммунитета и множества хронических недугов рожа лечится сложно.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/cd6/387_252_2/010915_26.jpg',
                'Питание и диеты',
                'Экзема на локтях',
                'Кожные проблемы на локтях часто поражают детей и взрослых. Как лечить такую болезнь? Каковы симптомы неприятного недуга?',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/526/387_252_2/010915_23.jpg',
                'Питание и диеты',
                'Рецепты лечебного питания при панкреатите',
                'При хроническом панкреатите пациентам нужно соблюдать специальную диету и строго выполнять рекомендации лечащего врача.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/d2d/387_252_2/010915_22.jpg',
                'Питание и диеты',
                '5 признаков мигрени',
                'Классическая мигрень может характеризоваться особенными симптомами. Существуют 5 основных признаков недуга.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/a54/387_252_2/010915_20.jpg',
                'Питание и диеты',
                'Народная медицина против туберкулеза кожи',
                'Туберкулез кожи передается воздушно-капельным путем или через поврежденные участки кожного покрова.',
                '/lifestyle.html',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ff7/387_252_2/010915_19.jpg',
                'Питание и диеты',
                'Суточная потребность и источники кальция',
                'Кальций играет большую роль в организме человека. Отчего возникает его дефицит и как он проявляется клинически? Какие препараты помогут предотвратить дефицит кальция?',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/929/387_252_2/010915_21.jpg',
                'Питание и диеты',
                'Лечение туберкулеза глаз',
                'Туберкулезные поражения глаз характеризуются неприятными симптомами и возможными осложнениями. Лечить заболевание важно вовремя.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ec1/387_252_2/010915_7.jpg',
                'Питание и диеты',
                'Лечебные компрессы от рожи',
                'Рожа — это часто встречающееся инфекционное заболевание, которое возникает на фоне стрептококковой инфекции.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/208/387_252_2/060815_50.jpg',
                'Питание и диеты',
                'Домашнее лечение внутреннего фурункула',
                'Удалить фурункул внутреннего типа легко можно нетрадиционными способами. Главное вовремя проконсультироваться с врачом и не превышать допустимые дозы лекарств.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/894/387_252_2/010915_3.jpg',
                'Питание и диеты',
                'Кандидоз полости рта: лечение',
                'Обратитесь за советом к врачу при первых признаках грибкового поражения полости рта, чтобы получить индивидуальную комплексную программу терапии.',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/dce/387_252_2/060815_49.jpg',
                'Питание и диеты',
                'Сколько надо пить воды в день?',
                'Чистая вода является одним из основных компонентов, обеспечивающих здоровье и жизнь человека. Многие «сидящие» на диете практически обожествляют этот элемент и пьют воду в огромных количествах.. ',
                '/lifestyle.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/a22/387_252_2/060815_47.jpg',
                'Питание и диеты',
                'Крыжовник: ценность и противопоказания',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/lifestyle.html'
                )
        +footer