include ../2.vendors/**/*.jade
include ../4.components/**/*.jade
include ../5.structures/**/*.jade
extends ../1.foundation/main
block title
    title Мама и малыш  |  MedAboutMe.ru — Технологии здорового образа жизни
block content
    .mom-and-child
        +header('/mom-and-child.html')
        main
            +articles
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/85a/387_252_2/010915_4.jpg',
                'Детские болезни',
                'Быстрые роды',
                'Рожистое воспаление на коже у стариков появляется часто. Из-за слабого иммунитета и множества хронических недугов рожа лечится сложно.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/0d9/387_252_2/060815_25.jpg',
                'Беременность и роды',
                'Вертикальные роды',
                'Плеврит туберкулезного типа является опасным недугом, лечить такую патологию важно вовремя.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/e43/387_252_2/050815_31.jpg',
                'Беременность и роды',
                'Школа: первый раз в первый класс',
                'Туберкулез кожи передается воздушно-капельным путем или через поврежденные участки кожного покрова. ',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/373/387_252_2/060815_68.jpg',
                'Детские болезни',
                'Роды с рубцом на матке: мнение врача',
                'Кальций играет большую роль в организме человека. Отчего возникает его дефицит и как он проявляется клинически? Какие препараты помогут предотвратить дефицит кальция?',
                '/mom-and-child.html',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/f0c/387_252_2/060815_66.jpg',
                'Беременность и роды',
                'Купание новорожденного ребенка',
                'Туберкулезные поражения глаз характеризуются неприятными симптомами и возможными осложнениями. Лечить заболевание важно вовремя.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/8c7/387_252_2/040815_43.jpg',
                'Детские болезни',
                'Фурункул слухового прохода у ребенка',
                'Рожа — это часто встречающееся инфекционное заболевание, которое возникает на фоне стрептококковой инфекции.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/e6b/387_252_2/040815_13.jpg',
                'Беременность и роды',
                'Как и сколько нужно хранить грудное молоко в холодильнике',
                'Удалить фурункул внутреннего типа легко можно нетрадиционными способами. Главное вовремя проконсультироваться с врачом и не превышать допустимые дозы лекарств.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/fa2/387_252_2/040815_19.jpg',
                'Детские болезни',
                'Мультфильмы для детей: сколько, как и что смотреть',
                'Обратитесь за советом к врачу при первых признаках грибкового поражения полости рта, чтобы получить индивидуальную комплексную программу терапии.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/157/387_252_2/060815_60.jpg',
                'Беременность и роды',
                'Мигрень: статистика и патогенез у детей',
                'Чистая вода является одним из основных компонентов, обеспечивающих здоровье и жизнь человека. Многие «сидящие» на диете практически обожествляют этот элемент и пьют воду в огромных количествах.. ',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/612/387_252_2/030815_39.jpg',
                'Детские болезни',
                'Лечение молочницы при беременности',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/mom-and-child.html',
                'video'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/043/387_252_2/030815_41.jpg',
                'Беременность и роды',
                'Крапивница от солнца',
                'Крапивница относится к аллергическим реакциям. Иногда такая патология может быть симптомом заболевания внутренних органов.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/3fd/387_252_2/030815_37.jpg',
                'Беременность и роды',
                'Малина: полезные свойства',
                'В июле поспела одна из самых любимых ягод всех россиян. Как заявляет беспристрастная статистика, малина в хит-параде сезонных фруктов обосновалась на третьем месте.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/88f/387_252_2/020815_7.jpg',
                'Беременность и роды',
                'Рожистое воспаление кожи на ногах в преклонном возрасте',
                'Рожистое воспаление на коже у стариков появляется часто. Из-за слабого иммунитета и множества хронических недугов рожа лечится сложно.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/136/387_252_2/280715_43.jpg',
                'Детские болезни',
                'Экзема на локтях',
                'Кожные проблемы на локтях часто поражают детей и взрослых. Как лечить такую болезнь? Каковы симптомы неприятного недуга?',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/4cf/387_252_2/060815_57.jpg',
                'Беременность и роды',
                'Рецепты лечебного питания при панкреатите',
                'При хроническом панкреатите пациентам нужно соблюдать специальную диету и строго выполнять рекомендации лечащего врача.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/183/387_252_2/060815_65.jpg',
                'Детские болезни',
                '5 признаков мигрени',
                'Классическая мигрень может характеризоваться особенными симптомами. Существуют 5 основных признаков недуга.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/3e1/387_252_2/060815_54.jpg',
                'Беременность и роды',
                'Народная медицина против туберкулеза кожи',
                'Туберкулез кожи передается воздушно-капельным путем или через поврежденные участки кожного покрова. ',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/333/387_252_2/060815_69.jpg',
                'Беременность и роды',
                'Суточная потребность и источники кальция',
                'Кальций играет большую роль в организме человека. Отчего возникает его дефицит и как он проявляется клинически? Какие препараты помогут предотвратить дефицит кальция?',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/baf/387_252_2/060815_67.jpg',
                'Детские болезни',
                'Лечение туберкулеза глаз',
                'Туберкулезные поражения глаз характеризуются неприятными симптомами и возможными осложнениями. Лечить заболевание важно вовремя.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/e63/387_252_2/060815_56.jpg',
                'Беременность и роды',
                'Лечебные компрессы от рожи',
                'Рожа — это часто встречающееся инфекционное заболевание, которое возникает на фоне стрептококковой инфекции.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/ba0/387_252_2/020815_5.jpg',
                'Детские болезни',
                'Домашнее лечение внутреннего фурункула',
                'Удалить фурункул внутреннего типа легко можно нетрадиционными способами. Главное вовремя проконсультироваться с врачом и не превышать допустимые дозы лекарств.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/a67/387_252_2/020815_12.jpg',
                'Детские болезни',
                'Кандидоз полости рта: лечение',
                'Обратитесь за советом к врачу при первых признаках грибкового поражения полости рта, чтобы получить индивидуальную комплексную программу терапии.',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/734/387_252_2/280715_12.jpg',
                'Детские болезни',
                'Сколько надо пить воды в день?',
                'Чистая вода является одним из основных компонентов, обеспечивающих здоровье и жизнь человека. Многие «сидящие» на диете практически обожествляют этот элемент и пьют воду в огромных количествах.. ',
                '/mom-and-child.html'
                )
                +article-cover(
                'http://medaboutme.ru/upload/resize_cache/iblock/f56/387_252_2/160715_35.jpg',
                'Беременность и роды',
                'Крыжовник: ценность и противопоказания',
                'Выбирая летом в магазине или на рынке сезонные фрукты для себя и своих близких, не забудьте о старинной дикой ягоде, которая издревле с любовью культивируется в наших.',
                '/mom-and-child.html'
                )
        +footer