include ../2.vendors/**/*.jade
include ../4.components/**/*.jade
include ../5.structures/**/*.jade
extends ../1.foundation/main
block title
    title Здоровье  |  MedAboutMe.ru — Технологии здорового образа жизни
block content
    +header('/')
    main
        +button('blue--xlarge', '#', 'Кнопка')
        +button('blue--large', '#', 'Кнопка')
        +button('blue--medium', '#', 'Кнопка')
        +button('blue--small', '#', 'Кнопка')
        +button('blue--xsmall', '#', 'Кнопка')