nav.desk-subnavigation-2 {
	position: relative;
	z-index: 10;

	[class*="--health"] {
		display: none;
		background-color: $blue;
		.dropdown-group {
			background-color: $blue;
		}
	}
	[class*="--lifestyle"] {
		display: none;
		background-color: $green;
		.dropdown-group {
			background-color: $green;
		}
	}
	[class*="--mom-and-child"] {
		display: none;
		background-color: $rose;
		.dropdown-group {
			background-color: $rose;
		}
	}

	.navgroup {
		display: block;
		@extend .wrap;
		padding: $remspace-05;
	}
}

.health {
	nav.desk-subnavigation-2 {
		[class*="--health"] {
			display: block;
		}
	}
}

.lifestyle {
	nav.desk-subnavigation-2 {
		[class*="--lifestyle"] {
			display: block;
		}
	}
}

.mom-and-child {
	nav.desk-subnavigation-2 {
		[class*="--mom-and-child"] {
			display: block;
		}
	}
}

&[class*="--dropdown"] {
	@include clearfix;

	.buttonstyle {
		display: inline-block;
	}

	.dropdown-wrapper {
		display: inline-block;
		margin-left: 2px;

		&:hover {

			.dropdown-group {
				opacity: 1;
				visibility: visible;
			}
		}

		& > .buttonstyle {
			color: $white;
			background-color: rgba($black, .16);
			svg {
				fill: $white;
			}

			&:active {
				background-color: rgba($black, .08);
				svg {
					fill: $white;
				}
			}
		}

		.dropdown-group {
			@include animation;
			transition-delay: .14s;
			display: block;
			opacity: 0;
			visibility: hidden;
			width: 100%;
			position: absolute;
			left: 0;
			padding-top: $remspace;
			border-bottom: 1px solid rgba($black, 0.16);
			box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;

			.dropdown-group__separator {
				display: block;
				border-top: 1px solid rgba($black, 0.16);
			}
		}
	}
}