//nav.desk-subnavigation {
//	@include animation;
//	position: relative;
//	z-index: 10;
//
//
//	[class*="--health"] {
//		display: none;
//		background-color: $blue;
//		.dropdown-group {
//			background-color: $blue;
//		}
//	}
//	[class*="--lifestyle"] {
//		display: none;
//		background-color: $green;
//		.dropdown-group {
//			background-color: $green;
//		}
//	}
//	[class*="--mom-and-child"] {
//		display: none;
//		background-color: $rose;
//		.dropdown-group {
//			background-color: $rose;
//		}
//	}
//
//	.navgroup {
//		display: block;
//		@extend .wrap;
//		padding: $remspace-025;
//	}
//
//	[class*="dropdown"] {
//
//		.dropdown-group {
//			display: block;
//			@include animation;
//			transition-delay: .14s;
//			opacity: 0;
//			visibility: hidden;
//			width: 100%;
//			position: absolute;
//			left: 0;
//			padding-top: $remspace-05;
//			border-bottom: 1px solid rgba($black, 0.16);
//
//			.dropdown-group__separator {
//				position: relative;
//				display: block;
//				border-top: 1px solid rgba($black, 0.16);
//
//			}
//		}
//		.bwrap2,.bwrap3__dropdown {
//
//			&:hover {
//				.dropdown-group {
//					@include animation;
//					opacity: 1;
//					visibility: visible;
//				}
//			}
//		}
//	}
//}
//
//.health {
//	nav.desk-subnavigation {
//		[class*="--health"] {
//			display: block;
//		}
//	}
//}
//
//.lifestyle {
//	nav.desk-subnavigation {
//		[class*="--lifestyle"] {
//			display: block;
//		}
//	}
//}
//
//.mom-and-child {
//	nav.desk-subnavigation {
//		[class*="--mom-and-child"] {
//			display: block;
//		}
//	}
//}