mixin desk-subnavigation
    nav.desk-subnavigation
        .desk-subnavigation--health
            span.navgroup
                +button('button--medium--ghost', '/', '', 'active')
                    svg.icon--xsmall: use(xlink:href='#icon_home')

                +button--dropdown('button--medium--ghost', '/', 'Сервисы')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/', 'Записаться к врачу')
                                +button('button--small--ghost', '/', 'Расшифровка анализов')
                                +button('button--small--ghost', '/', 'МетеоДоктор')
                                +button('button--small--ghost', '/', 'КардиоРиск')
                                +button('button--small--ghost', '/', 'Проверка симптомов')

                +button--dropdown('button--medium--ghost', '/', 'Публикации')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/', 'Советы врача')
                                +button('button--small--ghost', '/', 'Альтернативная медицина')
                                +button('button--small--ghost', '/', 'Лечебное питание')
                                +button('button--small--ghost', '/', 'Первая помощь')

                +button--dropdown('button--medium--ghost', '/', 'Учреждения')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/', 'Медучреждения')
                                +button('button--small--ghost', '/', 'Аптеки')

                +button--dropdown('button--medium--ghost', '/', 'Справочники')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/', 'Болезни')
                                +button('button--small--ghost', '/', 'Симптомы')
                                +button('button--small--ghost', '/', 'Лекарства')
                                +button('button--small--ghost', '/', 'Медицинские термины')
                                +button('button--small--ghost', '/', 'Правовые вопросы общие')
                                +button('button--small--ghost', '/', 'Правовые вопросы для пациента')
                                +button('button--small--ghost', '/', 'Правовые вопросы для медработника')

                +button('button--medium--ghost', '/', 'Тесты')

        .desk-subnavigation--lifestyle
            span.navgroup
                +button('button--medium--ghost', '/lifestyle.html', '', 'active')
                    svg.icon--xsmall: use(xlink:href='#icon_home')
                +button--dropdown('button--medium--ghost', '/lifestyle.html', 'Публикации')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/lifestyle.html', 'Профилактика')
                                +button('button--small--ghost', '/lifestyle.html', 'Питание и диеты')
                                +button('button--small--ghost', '/lifestyle.html', 'Фитнес')
                                +button('button--small--ghost', '/lifestyle.html', 'Красота')
                                +button('button--small--ghost', '/lifestyle.html', 'Психология и отношения')

                +button--dropdown('button--medium--ghost', '/lifestyle.html', 'Учреждения')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/lifestyle.html', 'Фитнес-клубы')
                                +button('button--small--ghost', '/lifestyle.html', 'Бассейны')
                                +button('button--small--ghost', '/lifestyle.html', 'Йога центры')
                                +button('button--small--ghost', '/lifestyle.html', 'Танцевальные студии')
                                +button('button--small--ghost', '/lifestyle.html', 'Катки')

                +button('button--medium--ghost', '/lifestyle.html', 'Тесты')
                +button('button--medium--ghost', '/lifestyle.html', 'Игры')

        .desk-subnavigation--mom-and-child
            span.navgroup
                +button('button--medium--ghost', '/mom-and-child.html', '', 'active')
                    svg.icon--xsmall: use(xlink:href='#icon_home')
                +button--dropdown('button--medium--ghost', '/mom-and-child.html', 'Публикации')
                    span.dropdown-group
                        span.dropdown-group__separator
                            span.navgroup
                                +button('button--small--ghost', '/mom-and-child.html', 'Детские болезни')
                                +button('button--small--ghost', '/mom-and-child.html', 'Беременность и роды')
                                +button('button--small--ghost', '/mom-and-child.html', 'Развитие детей')
                                +button('button--small--ghost', '/mom-and-child.html', 'Питание ребенка')

                +button('button--medium--ghost', '/mom-and-child.html', 'Блог мамы')