.header--desk {
	display: none;
	z-index: 999;
	position: relative;

	header {
		@extend %grid;
		@extend .wrap;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.group:first-child {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	@media all and (min-width: 960px) {
		display: block;
	}
}