mixin header--desk(link)
    .header--desk
        header
            .group
                +logo(link)
                +desk-navigation
            .group
                +button--icon('grey--medium', '/patternlib.html')
                    svg.icon--small: use(xlink:href='#icon_search')

                +button('flowerblue--medium', 'http://www.quora.com/', "Вход")

        //+desk-subnavigation
        +desk-subnavigation-2