mixin banner(image)
    .banner--fixed
        .banner-container
            .banner-container__hide-overflow
                a(href='#')
                    span.banner-image
                        img(srcset=image)
                    span.banner-blurred-background(style='background-image: url(#{image})')
                        img(srcset=image)