.banner--fixed {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;

	.banner-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
		box-sizing: border-box;
		padding: $remspace-05;

		.banner-container__hide-overflow {
			display: flex;
			flex-direction: column;
			align-content: center;
			flex: 1;
			overflow: hidden;
			padding: $remspace;
			@include border-radius;
			@include animation;

			&:hover {
				opacity: .8;
			}
			&:active {
				opacity: 1;
			}

			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				flex: 1;
				position: relative;

				.banner-image  {
					z-index: 1 !important;
					position: absolute;
					top: 0;
					left:0;
					right:0;
					margin: auto;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-content: center;
					flex: 1;

					img {
						margin: auto;
					}
				}

				.banner-blurred-background {
					display: block;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					text-align: center;
					filter: blur(15px);
					transform: scale(3);
					margin: auto;

					img {
						margin: auto;
						opacity: 0;
					}
				}
			}
		}
	}
}

