mixin application-badge--google
    a.application-badge(href='http://play.google.com/store/apps/developer?id=MedAboutMe.ru', target="_blank")
        img(srcset='./assets/illustrations/badge_google.svg')

mixin application-badge--apple
    a.application-badge(href='http://itunes.apple.com/us/developer/medaboutme/id945815020', target="_blank")
        img(srcset='./assets/illustrations/badge_apple.svg')
