$border-radius: .14rem;

@mixin border-radius {
	border-radius: $border-radius;
}

@mixin border-radius-top-left {
	border-bottom-right-radius: $border-radius;
}

@mixin border-radius-top-right {
	border-bottom-right-radius: $border-radius;
}

@mixin border-radius-bottom-left {
	border-bottom-right-radius: $border-radius;
}

@mixin border-radius-bottom-right {
	border-bottom-right-radius: $border-radius;
}