
$white: #fff;
$white-darken: #E5E5E5;


$grey-lighten: #F5F5F5;
$grey: #F2F2F2;
$grey-darken: #D9D9D9;


$darkgrey-lighten: #A6A6A6;
$darkgrey: #909090;
$darkgrey-darken: #818181;


$black-lighten: #333333;
$black: #000000;


$blue-light: #E5F8FF;
$blue-light-darken: #D9EBF2;
$blue-lighten: #33C8FF;
$blue: #00BAFF;
$blue-darken: #00A7E5;


$green-light: #EFFAEA;
$green-light-darken: #E3EDDE;
$green-lighten: #83D558;
$green: #64ca2e;
$green-darken: #5AB529;


$rose-light: #FEEEF5;
$rose-light-darken: #F1E2E9;
$rose-lighten: #F879AD;
$rose: #f65799;
$rose-darken: #DD4E89;


$flowerblue-light: #F0F2FB;
$flowerblue-light-darken: #E4E6EE;
$flowerblue-lighten: #899ADD;
$flowerblue: #6b81d4;
$flowerblue-darken: #6074BE;



