html {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 250px;

    *::selection {
        background: rgba($flowerblue, .2);
    }

    @media only screen and (max-width: 959px) {
        font-size: 15px;
    }
    @media only screen and (min-width: 960px) {
        font-size: 17px;
    }
}

.wrap {
	max-width: 1900px;
	margin: 0 auto;
}

main {
	@extend %grid;
    @extend .wrap;
    position: relative;
    @include clearfix;
}

img {
    display: table-cell;
    max-width: 100%;
	height: auto;
}

nobr {
	display: inline-block;
	line-height: 0;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}