[class*="icon"] {
	display: inline-block;
	&[class*="--xxsmall"] {
		width: 12px;
		height: 12px;
	}
	&[class*="--xsmall"] {
		width: 14px;
		height: 14px;
	}
	&[class*="--small"] {
		width: 16px;
		height: 16px;
	}
	&[class*="--medium"] {
		width: 24px;
		height: 24px;
	}
}
