body {
    line-height: 1.45;
	font-family: 'BeauSansRegular', Arial, Helvetica, sans-serif;
    color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: 'BeauSansBbook', sans-serif;
    font-size: 1.602rem;
    margin-bottom: 0.5em;
    line-height: 1;
    letter-spacing: -0.01em;
}

h2 {
	font-family: 'BeauSansBbook', sans-serif;
    font-size: 1.424rem;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h3 {
	font-family: 'BeauSansSemiBold', sans-serif;
    font-size: 1.266rem;
	letter-spacing: -0.01em;
	line-height: 1.2;
    margin-bottom: 0.5em;
}

h4 {
	font-family: 'BeauSansSemiBold', sans-serif;
    font-size: 1.120rem;
    line-height: 1.34;
    margin-bottom: 0.3em;
}

p {
	font-family: 'BeauSansRegular', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 1.3em;
    color: #5b5b5b;
}

a {
	@extend p;
	font-family: 'BeauSansBbook', sans-serif;
	@include animation;
    text-decoration: none;
    vertical-align: middle;
    color: $black;
    margin: 0;
}