section.articles {
	display: flex;
	flex-wrap: wrap;
}

.article-cover__text__tag {
	padding-left: 0;
}

.health {

		.article-cover__wrapper {

			.article-cover__image {
				&:hover:before {
					@include border-radius;
					background: rgba($blue, 0.8);
				}
				&:active:before {
					background: rgba($blue-darken, 0.8) ;
				}
				&:active .article-cover__image__info {
					color: rgba($white, .7);
					svg {
						fill: rgba($white, .7);
					}
				}
			}

			.article-cover__text__tag {
				.buttonstyle {
					&:hover {
						color: $blue;
						background-color: $blue-light;
					}
					&:active {
						color: $blue-darken;
						background-color: $blue-light-darken;
					}
				}
			}

			.article-cover__text__title {
				&:hover {
					color: $blue-lighten;
				}
				&:active {
					color: $blue-darken;
				}
			}
		}
}

.lifestyle {

		.article-cover__wrapper {

			.article-cover__image {
				&:hover:before {
					@include border-radius;
					background: rgba($green, 0.8);
				}
				&:active:before {
					background: rgba($green-darken, 0.8) ;
				}
				&:active .article-cover__image__info {
					color: rgba($white, .7);
					svg {
						fill: rgba($white, .7);
					}
				}
			}

			.article-cover__text__tag {
				.buttonstyle {
					&:hover {
						color: $green;
						background-color: $green-light;
					}
					&:active {
						color: $green-darken;
						background-color: $green-light-darken;
					}
				}
			}

			.article-cover__text__title {
				&:hover {
					color: $green-lighten;
				}
				&:active {
					color: $green-darken;
				}
			}
		}

}

.mom-and-child {

		.article-cover__wrapper {

			.article-cover__image {
				&:hover:before {
					@include border-radius;
					background: rgba($rose, 0.8);
				}
				&:active:before {
					background: rgba($rose-darken, 0.8) ;
				}
				&:active .article-cover__image__info {
					color: rgba($white, .7);
					svg {
						fill: rgba($white, .7);
					}
				}
			}

			.article-cover__text__tag {

				.buttonstyle {
					&:hover {
						color: $rose;
						background-color: $rose-light;
					}
					&:active {
						color: $rose-darken;
						background-color: $rose-light-darken;
					}
				}
			}

			.article-cover__text__title {
				&:hover {
					color: $rose-lighten;
				}
				&:active {
					color: $rose-darken;
				}
			}
		}
}

