mixin social-media-icons
    .sm-icons
        a.icon--sm(href="http://facebook.com/medaboutme/timeline/", target="_blank")
            img(srcset='./assets/illustrations/sm-facebook.svg')

        a.icon--sm(href="http://vk.com/club62351494", target="_blank")
            img(srcset='./assets/illustrations/sm-vk.svg')

        a.icon--sm(href="http://ok.ru/group/51974510477529", target="_blank")
            img(srcset='./assets/illustrations/sm-ok.svg')

        a.icon--sm(href="http://twitter.com/Medaboutme1", target="_blank")
            img(srcset='./assets/illustrations/sm-twitter.svg')

        a.icon--sm(href="http://my.mail.ru/community/medaboutme/?ref=", target="_blank")
            img(srcset='./assets/illustrations/sm-my.svg')

        a.icon--sm(href="http://youtube.com/user/MedAboutMe", target="_blank")
            img(srcset='./assets/illustrations/sm-youtube.svg')

        a.icon--sm(href="http://plus.google.com/u/0/+MedAboutMeru/posts", target="_blank")
            img(srcset='./assets/illustrations/sm-googleplus.svg')

        a.icon--sm(href="http://medaboutme.livejournal.com/", target="_blank")
            img(srcset='./assets/illustrations/sm-lj.svg')

        a.icon--sm(href="http://medaboutme.ru/rss/", target="_blank")
            img(srcset='./assets/illustrations/sm-rss.svg')