mixin services
    .services
        .services__group
            +widget('full')
                h3 Метеодоктор
                h4 Погода в Москве
                p Неблагоприятная погода для лиц, страдающих бронхиальной астмой, хроническими сердечно-сосудистыми заболеваниями, заболеваниями легких, моче-половой системы, суставов. Повышен риск простудных заболеваний, пневмонии.
            +widget
                h3 Запись на прием к врачу
                p Краткое описание сути сервиса
                p Специалистов в Москве: 5521
                p Записались сегодня: 64 человека
            +widget
                h3 Задать вопрос врачу
                p Подробно опишите что вас беспокоит — это поможет врачу ответить на ваш вопрос
            +widget
                h3 Расшифровка анализов
                p Введите показатели лабораторных анализов и получите их точную интерпритацию
                p Расшифровано сегодня: 561 анализ
            +widget
                h3 Кардиориск
                p Оцените вашу предрасположенность к сердечно-сосудистым заболеваниям
        .banner-space
            +banner('http://content.adfox.ru/151014/adfox/513965/1445034.gif')
            +banner('http://banners.adfox.ru/151001/adfox/509754/1429074.gif')