.services {
	@media all and (min-width: 580px) {
		display: flex;
	}
	.services__group {
		@extend %phone--one-whole;
		@extend %hphone--one-whole;
		@extend %vpad--one-half;
		@extend %hpad--one-half;
		@extend %book--two-thirds;
		@extend %desk--three-quarters;
		display: inline-block;

		.widget-wrapper {
			@extend %one-whole;
			@extend %vpad--one-whole;
			@extend %book--one-half;
			@extend %desk--one-half;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			&:first-child {
				flex-grow: 2;
			}
		}
	}

	.banner-space {
		@extend %one-whole;
		@extend %vpad--one-half;
		@extend %book--one-third;
		@extend %desk--one-quarter;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1;
	}
}