doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        block title

        link(rel='apple-touch-icon', href='assets/images/fav/76.png', sizes='76x76')
        link(rel='apple-touch-icon', href='assets/images/fav/120.png', sizes='120x120')
        link(rel='apple-touch-icon', href='assets/images/fav/152.png', sizes='152x152')
        link(rel='apple-touch-icon', href='assets/images/fav/180.png', sizes='180x180')
        link(rel='shortcut icon', href='assets/images/fav/64.png')
        link(rel='shortcut icon', href='assets/images/fav/favicon.png')
        link(rel='icon', href='assets/images/fav/favicon.png')

        link(rel='stylesheet', href='css/main.css')
        script(src='js/async.js')

    body
        div(style='height: 0; width: 0; position: absolute; display: none')
            // inject:svg
            // endinject
        +animsition
        .animsition
            block content
        script(src='js/main.js')