.desk-navigation {
	display: inline-block;
	white-space: nowrap;

	[class*="button"] {

		&[class*="--health"] {
			a:hover {
				color: $white;
				background-color: $blue;
			}
			a:active {
				color: $white-darken;
				background-color: $blue-darken;
			}
			a.current {
				color: $white;
				background-color: $blue;
				&:hover {
					color: $white;
					background-color: $blue-lighten;
				}
				&:active {
					color: $white-darken;
					background-color: $blue-darken;
				}
			}
		}

		&[class*="--lifestyle"] {
			a:hover {
				color: $white;
				background-color: $green;
			}
			a:active {
				color: $white-darken;
				background-color: $green-darken;
			}
			a.current {
				color: $white;
				background-color: $green;
				&:hover {
					color: $white;
					background-color: $green-lighten;
				}
				&:active {
					color: $white-darken;
					background-color: $green-darken;
				}
			}
		}

		&[class*="--mom-and-child"] {
			a:hover {
				color: $white;
				background-color: $rose;
			}
			a:active {
				color: $white-darken;
				background-color: $rose-darken;
			}
			a.current{
				color: $white;
				background-color: $rose;
				&:hover {
					color: $white;
					background-color: $rose-lighten;
				}
				&:active {
					color: $white-darken;
					background-color: $rose-darken;
				}
			}
		}
	}
}

