mixin desk-navigation
    nav.desk-navigation
        +button('large--grey--health', '/', "Здоровье")
        +button('large--grey--lifestyle', '/lifestyle.html', "Образ жизни")
        +button('large--grey--mom-and-child', '/mom-and-child.html', "Мама и малыш")