@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) and
(-webkit-min-device-pixel-ratio: 1.3),
(min-resolution: 124.8dpi) and
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) and
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi)
{
	.header--desk {
		display: none;
	}
	.header--mobile {
		display: block;
	}
}