.logo {
	padding: $remspace-05;
	display: inline-block;
	a {
		max-width: 200px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
    @include animation;
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
