.navigation--mobile {
	position: absolute;
	z-index: 1000;
	right: 0;
	background-color: $grey-lighten;
	height: 100%;

	.navigation--mobile__container {

		box-sizing: border-box;
		a {
			@include border-radius;
			display: block;
			padding: $remspace-025 $remspace-05;
			&:hover {
				background-color: $grey-darken;
			}
		}
	}
}