mixin navigation--mobile
    nav.navigation--mobile
        .navigation--mobile__container
            ul.navigation--mobile__lvl1--health
                li
                    +button('button--large--blue--full--left', '/', 'Здоровье')
                    ul.navigation--mobile__lvl2
                        li
                            +button('button--medium--ghost--full--left', '/', 'Сервисы')
                            //  ul.navigation--mobile__lvl3
                            //      li: a(href="#") Записаться к врачу
                            //      li: a(href="#") Расшифровка анализов
                            //      li: a(href="#") МетеоДоктор
                            //      li: a(href="#") КардиоРиск
                            //      li: a(href="#") Проверка симптомов

                    ul.navigation--mobile__lvl2
                        li
                            +button('button--medium--ghost--full--left', '/', 'Публикации')
                            //  ul.navigation--mobile__lvl3
                            //      li: a(href="#")  Советы врача
                            //      li: a(href="#")  Альтернативная медицина
                            //      li: a(href="#")  Лечебное питание
                            //      li: a(href="#")  Первая помощь

                    ul.navigation--mobile__lvl2
                        li
                            +button('button--medium--ghost--full--left', '/', 'Учреждения')
                            //  ul.navigation--mobile__lvl3
                            //      li: a(href="#")  Медучреждения
                            //      li: a(href="#")  Аптеки

                    ul.navigation--mobile__lvl2
                        li
                            +button('button--medium--ghost--full--left', '/', 'Справочники')
                            //  ul.navigation--mobile__lvl3
                            //      li: a(href="#") Болезни
                            //      li: a(href="#") Симптомы
                            //      li: a(href="#") Лекарства
                            //      li: a(href="#") Медицинские термины
                            //      li: a(href="#") Правовые вопросы общие
                            //      li: a(href="#") Правовые вопросы для пациентов
                            //      li: a(href="#") Правовые вопросы для медработников

                    ul.navigation--mobile__lvl2
                        li
                            +button('button--medium--ghost--full--left', '/', 'Тесты')

            ul.navigation--mobile__lvl1--lifestyle
                li
                    +button('button--large--green--full--left', '/', 'Образ жизни')
                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Публикации
                            ul.navigation--mobile__lvl3
                                li: a(href="#") Профилактика
                                li: a(href="#") Питание и диеты
                                li: a(href="#") Фитнес
                                li: a(href="#") Красота
                                li: a(href="#") Психология и отношений

                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Учреждения
                            ul.navigation--mobile__lvl3
                                li: a(href="#") Фитнес-клубы
                                li: a(href="#") Бассейны
                                li: a(href="#") Йога центры
                                li: a(href="#") Танцевальные студии
                                li: a(href="#") Катки

                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Тесты
                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Игры

            ul.navigation--mobile__lvl1--mom-and-child
                li
                    +button('button--large--rose--full--left', '/', 'Мама и малыш')
                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Публикации
                            ul.navigation--mobile__lvl3
                                li: a(href="#") Советы врача
                                li: a(href="#") Альтернативная медицина
                                li: a(href="#") Лечебное питание
                                li: a(href="#") Первая помощь

                    ul.navigation--mobile__lvl2
                        li
                            a(href="#") Блог мамы