[class*="button"] {
	display: inline-block;
	vertical-align: middle;
	padding: $remspace-05;
	.buttonstyle {
		display: block;
		@include border-radius;
		@include animation;
		padding: 0 .8em;

		span {
			font-family: 'BeauSansBbook', sans-serif;
			letter-spacing: 0.014em;
		}

		svg {
			@include animation;
		}
	}

	// Цвет
	&[class*="--flowerblue"] {
		.buttonstyle {
			color: $white;
			background-color: $flowerblue;
			svg {
				fill: $white;
			}
			&:hover {
				background-color: $flowerblue-lighten
			}
			&:active {
				background-color: $flowerblue-darken;
				color: $white-darken;
				svg {
					fill: $white-darken;
				}
			}
		}
	}

	&[class*="--blue"] {
		.buttonstyle {
			color: $white;
			background-color: $blue;
			&:hover {
				background-color: $blue-lighten
			}
			&:active {
				background-color: $blue-darken;
				color: $white-darken;
			}
		}
	}

	&[class*="--green"] {
		.buttonstyle {
			color: $white;
			background-color: $green;
			&:hover {
				background-color: $green-lighten;
			}
			&:active {
				background-color: $green-darken;
				color: $white-darken;
			}
		}
	}

	&[class*="--rose"] {
		.buttonstyle {
			color: $white;
			background-color: $rose;
			&:hover {
				background-color: $rose-lighten;
			}
			&:active {
				background-color: $rose-darken;
				color: $white-darken;
			}
		}
	}

	&[class*="--grey"] {
		.buttonstyle {
			color: $darkgrey;
			background-color: $grey;
			svg {
				fill: $darkgrey;
			}
			&:hover {
				color: $darkgrey-lighten;
				background-color: $grey-lighten;
				fill: $darkgrey-lighten;
			}
			&:active {
				color: $darkgrey-darken;
				background-color: $grey-darken;
				fill: $darkgrey-darken;
			}

		}

		&[class*="--disabled"] {
			opacity: .5;
			pointer-events: none;
		}
		&[class*="--active"] {
			.buttonstyle {
				color: $darkgrey-darken;
				background-color: $grey-darken;
				fill: $darkgrey-darken;
				pointer-events: none;
			}
		}
		&[class*="--empty"] {
			.buttonstyle {
				background-color: inherit;
				pointer-events: none;
			}
		}
	}

	&[class*="--ghost"] {

		&.active {

			> a.buttonstyle {
				background-color: rgba($black, .3);

				&:hover {
					background-color: rgba($black, .16);
				}
				&:active {
					color: rgba($white, .7);
					background-color: rgba($black, .3);
					svg {
						fill: rgba($white, .7);
					}
				}
			}
		}

		.buttonstyle {
			color: $white;
			background-color: rgba($black, .16);
			svg {
				fill: $white;
			}
			&:hover {
				background-color: rgba($black, .08);
			}
			&:active {
				color: rgba($white, .7);
				background-color: rgba($black, .3);
				svg {
					fill: rgba($white, .7);
				}
			}
		}
	}

	// Размер
	&[class*="--xsmall"] {
		.buttonstyle {
			padding: 0 .6em;
			height: 1.6rem;
			line-height: 1.65rem;
			span {
				font-size: .8rem;
			}
			svg {
				@include animation;
				position: relative;
				top: .16em;
			}
		}
	}

	&[class*="--small"] {
		height: 1.8rem;
		line-height: 1.85rem;

		.buttonstyle {
			padding: 0 .7em;
			height: 1.8rem;
			line-height: 1.85rem;
			span {
				font-size: .95rem;
			}
			svg {
				position: relative;
				top: .16em;
			}
		}
	}

	&[class*="--medium"] {
		height: 2.14rem;
		line-height: 2.18rem;

		.buttonstyle {
			height: 2.14rem;
			line-height: 2.18rem;
			span {
				font-size: 1.08rem;
			}
			svg {
				position: relative;
				top: .16em;
			}
		}
		[class*="--small"] {
			height: 1.8rem;
			line-height: 1.85rem;

			.buttonstyle {
				padding: 0 .7em;
				height: 1.8rem;
				line-height: 1.85rem;
				span {
					font-size: .95rem;
				}
				svg {
					position: relative;
					top: .16em;
				}
			}
		}
	}

	&[class*="--large"] {
		height: 2.65rem;
		line-height: 2.74rem;


		.buttonstyle {
			height: 2.65rem;
			line-height: 2.74rem;
			padding: 0 1.1em;
			span {
				font-size: 1.2rem;
			}
		}
	}

	&[class*="--xlarge"] {
		height: 3.3rem;
		line-height: 3.4rem;

		.buttonstyle {
			height: 3.3rem;
			line-height: 3.4rem;
			padding: 0 1.1em;
			span {
				font-size: 1.3rem;
			}
		}
	}

	// Прочее
	&[class*="--full"] {
		display: block;
		width: 100%;
		text-align: center;
		.buttonstyle {
			box-sizing: border-box;
			width: 100%;
		}
	}

	&[class*="--left"] {

	}
}





