mixin button(style,href,name)
    span(class="button--#{style}")
        a.buttonstyle(href=href)
            span=name

mixin button--icon(style,href,name)
    span(class="button--#{style}")
        a.buttonstyle(href=href)
            if name
                span=name
            block

mixin button--dropdown(style,href,name)
    span(class="button--dropdown--#{style}")
        a.buttonstyle(href=href)
            span=name
            svg.icon--xsmall: use(xlink:href='#icon_arrow-down')
        block

mixin button--dropdown--alt(style,href,name)
    span(class="button--dropdown--alt--#{style}")
        a.buttonstyle(href=href)
            span=name
        span.dropdown-wrapper
            span.buttonstyle
                svg.icon--xsmall: use(xlink:href='#icon_arrow-down')
            block