mixin pagination

    .pagination
        .control-left
            +button--icon('medium--grey--disabled', '#')
                svg.icon--xsmall: use(xlink:href='#icon_arrow-left')
        ul
            +button('medium--grey--active', '#', '1')
            +button('medium--grey', '#', '2')
            +button('medium--grey', '#', '3')
            +button('medium--grey', '#', '4')
            +button('medium--grey', '#', '5')
            +button('medium--grey--empty', '#', '...')
            +button('medium--grey', '#', '66')

        .control-right
            +button--icon('medium--grey', '#')
                svg.icon--xsmall: use(xlink:href='#icon_arrow-right')