.pagination {
	@extend %one-whole;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	ul {
		display: inline-block;
		text-align: left;
	}

	.buttonstyle {
		span {
			position: relative;
			top: .05em;
		}
	}

	@media all and (max-width: 700px) {
		display: block;
		text-align: center;
		.control-left, .control-right {
			display: none;
		}
	}
}
