footer {
	@extend %grid;
	@include clearfix;
	padding-bottom: $remspace;

	.footer__group {
		@extend .flex-container;

		.footer__group__column {
			margin-top: $remspace-05;

			@extend %grid__item;
			@extend %phone--one-whole;
			@extend %vpad--one-half;
			@extend %book--one-third;
			@extend %desk--one-quarter;

			&:last-of-type {
				@extend %one-whole;
				@extend %book--two-thirds;
				@extend %desk--one-whole;
			}

			.footer__link {
				display: table;
				padding: .2em 0;
				&:hover {
					color: $flowerblue-lighten;
				}

				&:active {
					color: $flowerblue-darken;
				}
			}

			.sm-icons {
				padding-top: $remspace-05;
			}
		}
	}

}