mixin footer
    +divider
    footer
        .wrap
            .footer__group

                .footer__group__column
                    h3 MedAboutMe
                    a(href="/").footer__link О проекте
                    a(href="/").footer__link Работа у нас
                    +social-media-icons

                .footer__group__column
                    h3 Пользователям
                    a(href="/").footer__link Пользовательское соглашение
                    a(href="/").footer__link Оставить отзыв

                .footer__group__column
                    h3 Партнерам
                    a(href="/").footer__link Партнёрская программа
                    a(href="/").footer__link Виджеты

                .footer__group__column
                    h3 Наши приложения
                    +application-badge--apple
                    +application-badge--google

                .footer__group__column
                    p Информация предоставляется исключительно в справочных целях. Не занимайтесь самолечением. При первых признаках заболевания обратитесь к врачу.