.header--mobile {

	.header--mobile__container {
		top: 0;
		width: 100%;

		background-color: $white;

		header {
			@extend %grid;
			@extend .wrap;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			.group:first-child {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}


	@media all and (min-width: 960px) {
		display: none;
	}
}