mixin header--mobile(link)

    .header--mobile
        .header--mobile__container
            header
                .group
                    +logo(link)
                .group
                    +button--icon('medium--flowerblue', 'http://codyhouse.co/demo/secondary-expandable-navigation/index.html')
                        svg.icon--small: use(xlink:href='#icon_menu-sandwich')
            +divider
            //+navigation--mobile